html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

* {
  box-sizing: border-box;
  background: #f0f0f0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 1.33333rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header p:first-child {
  flex: 1;
  text-align: center;
}

.header p:last-child {
  flex: 2;
  display: flex;
  justify-content: center;
}

.header p:last-child i {
  flex: 1;
  text-align: center;
}

.header p:last-child i:last-child:before {
  background: #3D89ED;
  border-radius: 50%;
  padding: 0.13333rem;
  color: #fff;
}

.header h2 {
  flex: 7;
  font-size: 20px;
  text-align: center;
}

.main {
  width: 100%;
  flex: 1;
  overflow: auto;
}

.main .tab {
  width: 90%;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}

.main .tab dl {
  flex: 1;
  height: 2.29333rem;
  text-align: center;
}

.main .tab dl dt {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  line-height: 48px;
}

.main .tab dl dt i {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.main .tab dl dt .one {
  font-size: 35px;
}

.main .tab dl dd {
  margin-top: 0.26667rem;
}

.main .list {
  color: red;
}

.main .txt {
  width: 100%;
  height: 12rem;
  text-align: center;
  line-height: 12rem;
}

.footer {
  width: 100%;
  height: 2.66667rem;
}

.footer img {
  width: 100%;
  height: auto;
}
